:root.dark-mode {
  background: #121212 !important;
  color: white !important;
}

.dark-mode .navbar {
  background: #1e1e1e !important;
  box-shadow: 0 2px 5px rgba(255, 255, 255, 0.1);
}

.dark-mode .nav-links a {
  color: #ffffff !important;
}

.dark-mode .logo {
  color: white;
}

.dark-mode .card {
  background: #2d2d2d !important;
  color: white !important;
  box-shadow: 0 2px 6px rgba(255, 255, 255, 0.1);
}

.dark-btn {
  border: none;
  cursor: pointer;
  background: white;
  color: white;
  border-radius: 50px;
}

.dark-mode .dark-btn {
  background: #555;
  color: white;
}